<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/common::head}">
</head>
<body>
<header>
    <nav th:replace="~{fragments/common::navbar}"></nav>
</header>
<main>
    <div class="container">
        <div class="jumbotron">
            <h1>Последи обяви:</h1>

            <table th:if="${#arrays.length(lastOffers)} != 0" class="table table-condensed">
                <thead>
                <tr>
                    <th>Заглавие</th>
                    <th>Цена</th>
                    <th>Локация</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="o : ${lastOffers}" th:object="${o}">
                    <td th:text="*{title}">John</td>
                    <td th:text="*{price}">Doe</td>
                    <td th:text="*{location.displayName}"></td>
                    <td>
                        <a th:href="@{/products/view/{id}(id = *{id})}" class="btn btn-link nav-link text-secondary">Виж повече</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</main>

<footer th:replace="~{fragments/common::footer}"></footer>
</body>
</html>