<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common::head}">
</head>
<body>
<header>
    <nav th:replace="~{fragments/common::navbar}"></nav>
</header>
<main>
    <div class="container">
        <div class="jumbotron">
            <h1>Добави обява:</h1>

            <form th:object="${addProductDTO}" th:method="post" th:action="@{/products/add}">
                <div class="form-group">
                    <div class="col-md-4 mb-3">
                        <label for="title">Заглавие</label>
                        <input th:field="*{title}" type="text" name="title" id="title" class="form-control" required>
                        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="description">Описание</label>
                        <textarea th:field="*{description}" type="text" name="description" id="description" class="form-control" required></textarea>
                        <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="price">Цена</label>
                        <input th:field="*{price}" type="number" name="price" id="price" class="form-control" aria-describedby="inputGroupPrepend3" required>
                        <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 mb-3">
                        <label for="location">Локация</label>
                        <select th:field="*{location}"  name="location" id="location" class="form-control">
                            <option value="">Изберете локация</option>
                            <option th:each="l : ${T(bg.softuni.shop_app.model.entity.enums.Location).values()}" th:value="${l}" th:text="${l.displayName}">Изберете локация</option>
                        </select>
                        <div th:if="${#fields.hasErrors('location')}" th:errors="*{location}" class="text-danger"></div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="category">Категория</label>
                        <select th:field="*{category}" name="category" id="category" class="form-control">
                            <option value="">Изерете категория</option>
                            <option th:each="c : ${T(bg.softuni.shop_app.model.entity.enums.Category).values()}" th:value="${c}" th:text="${c.displayName}">Превозни средства</option>
                        </select>
                        <div th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="text-danger"></div>
                    </div>
                </div>
                <button class="btn btn-secondary" type="submit">Публикувай</button>
            </form>

        </div>
    </div>
</main>
<footer th:replace="~{fragments/common::footer}"></footer>
</body>
</html>