<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/common::head}">
</head>
<body>
<header>
    <nav th:replace="~{fragments/common::navbar}"></nav>
</header>

<main>
    <div class="container">
        <div th:object="${product}" class="jumbotron">

            <h1 th:text="*{title}"></h1>
            <p id="id" style="display:none" th:text="*{id}"></p>

            <div th:replace="~{fragments/common::gallery}"></div>

                <div class="form-group">
                    <div class="col-md-4 mb-3">
                        <p th:text="|Описание: *{description}|"></p>
                    </div>
                    <div class="col-md-4 mb-3">
                        <p th:text="|Цена: *{price}|"></p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 mb-3">
                        <p th:text="|Локация: *{location.displayName}|"></p>
                    </div>
                    <div class="col-md-4 mb-3">
                        <p th:text="|Категория: *{category.displayName}|"></p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 mb-3">
                        <p th:text="|Продавач: *{seller.firstName} *{seller.lastName} телефон: *{seller.phoneNumber}|"></p>
                    </div>
                </div>
            <button sec:authorize="isAuthenticated()" id="showComment" class="btn btn-link text-secondary">Покажи коментарите</button>
            <div id="comments">

            </div>
            <form  sec:authorize="isAuthenticated()" id="addComment" style="display:none" th:method="post" th:action="@{/products/view/{id} (id = ${product.id})}" th:object="${commentAddDTO}">
                <div class="col-md-4 mb-3">
                    <label for="content">Добави коментар</label>
                    <textarea th:field="*{content}" type="text" name="content" id="content" class="form-control" required></textarea>
                    <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="text-danger"></div>
                </div>
                <button class="btn btn-secondary" type="submit">Добави коментар</button>
            </form>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/common::footer}"></footer>

<script src="/js/productGallery.js"></script>
<script src="/js/comments.js"></script>
</body>
</html>