<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Title</title>
  <th:block th:insert="~{fragments/common::head}"></th:block>
</head>
<body>
<header>
  <nav th:replace="~{fragments/common::navbar}"></nav>
</header>

<div class="container">
  <div class="jumbotron">
    <h1>Търсене:</h1>

    <form th:object="${productSearchDTO}" th:method="post" th:action="@{/search}">
      <div class="form-group">
        <div class="col-md-4 mb-3">
          <label for="title">Заглавие:</label>
          <input th:field="*{title}" type="text" name="title" id="title" class="form-control" required>
        </div>
        <div class="col-md-4 mb-3">
          <label for="maxPrice">Цена до:</label>
          <input th:field="*{maxPrice}" type="number" name="maxPrice" id="maxPrice" class="form-control" aria-describedby="inputGroupPrepend3" required>
          <div th:if="${#fields.hasErrors('maxPrice')}" th:errors="*{maxPrice}" class="text-danger"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4 mb-3">
          <label for="location">Локация:</label>
          <select th:field="*{location}"  name="location" id="location" class="form-control" required>
            <option value="">Изберете локация</option>
            <option th:each="l : ${T(bg.softuni.shop_app.model.entity.enums.Location).values()}" th:value="${l}" th:text="${l.displayName}">Изберете локация</option>
          </select>
        </div>
        <div class="col-md-4 mb-3">
          <label for="category">Категория:</label>
          <select th:field="*{category}" name="category" id="category" class="form-control" required>
            <option value="">Изерете категория</option>
            <option th:each="c : ${T(bg.softuni.shop_app.model.entity.enums.Category).values()}" th:value="${c}" th:text="${c.displayName}">Превозни средства</option>
          </select>
        </div>
      </div>
      <button class="btn btn-secondary" type="submit">Търсене</button>
    </form>
  </div>
</div>

<footer th:replace="~{fragments/common::footer}"></footer>
</body>
</html>